

  <%# actioncable時のみ表示させる %>
  <% if @current_user.nil?  %>
     <%if message.user.avatar.blank? %>
        <%= image_tag asset_path('default_icon.png'), class: 'chat_icon' %>
     <%else%>
        <%= image_tag message.user.avatar.url,class: 'chat_icon'%>
     <%end%>
  <%# ルームの参加者はメッセージ表示 %>
    <% if message.request_flg.nil? %>
      <p class="message-content">
        <%= message.convert_young_message %>
      <span class="date"><%= message.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></span>
      </p>
    <%else%>
     <%= form_with(url: permission_path(message.user.id), html:{class: 'form-group message-content'}) do |f| %>
        <%= f.hidden_field :user_id, value: message.user.id %>
        <%= f.hidden_field :room_id, value: message.room.id %>
        <%= f.hidden_field :push_user, value: params[:user_id] %>
        <%= message.user.name %>です。<button class="btn btn-info js-reload-btn"><%= message.content %></button>
      <% end %>
    <%end%>
  <% end %>

