

<div class="p-5 mt-5">
  <h1>ユーザー編集</h1>
    <%= form_for(@user,model: @user,url: edit_auth_path,html: {class: 'form-group'}) do |f| %>
    <input name="_method" type="hidden" value="patch" />
      <div class="mb-3">
        <%= f.label :name,class: 'form-label' %>
        <%= f.text_field :name,class: 'form-control' %>
        <% @user.errors.full_messages_for(:name).each do |message| %>
          <span class="alert"><%= message %></span>
        <% end %> 
      </div>
      <div class="mb-3">
        <%= f.label :password,class: 'form-label' %>
        <%= f.password_field :password,class: 'form-control',placeholder: "半角英数5文字以上",autocomplete: 'new-password' %>
        <% @user.errors.full_messages_for(:password).each do |message| %>
          <span class="alert"><%= message %></span>
        <% end %> 
      </div>
      <div class="mb-3">
        <%= f.label :password_confirmation,class: 'form-label' %>
        <%= f.password_field :password_confirmation,class: 'form-control',autocomplete: 'new-password' %>
        <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
          <span class="alert"><%= message %></span>
        <% end %> 
      </div>
      <%= f.submit "編集", class: 'btn btn-primary' %>
    <% end %>
       <a class="btn btn-info" href="/auth/<%=@current_user.id%>/avatar">アイコン登録</a>
  </div>
  