 <%= form_with(model: @word,url: edit_word_path,html:{class: 'form-group'}) do |f| %>
 <%= f.hidden_field :user_id, value:  @current_user.id %>
 <div class="mb-3">
    <%= f.label :term,class: 'form-label' %>
    <%= f.text_field :term,class: 'form-control' %>
    <% @word.errors.full_messages_for(:term).each do |message| %>
        <span class="alert"><%= message %></span>
    <% end %> 
 </div>
 <div class="mb-3">
    <%= f.label :conversion,class: 'form-label' %>
    <%= f.text_field :conversion,class: 'form-control' %>
     <% @word.errors.full_messages_for(:conversion).each do |message| %>
        <span class="alert"><%= message %></span>
    <% end %> 
 </div>
  <%= f.submit "Edit", class: 'btn btn-primary' %>
<% end %>

