<p class="notice-line js-toggle-msg"><%= flash[:notice] %></p>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">若者表示</th>
      <th scope="col">おじ表示</th>
      <th scope="col">編集</th>
    </tr>
  </thead>
  <tbody>
  <% @words.map.with_index do |word, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= word.term %></td>
      <td><%= word.conversion %></td>
      <td>
      <% if word.user_id == @current_user.id %>
      <%= link_to "編集", edit_word_path(word),class: 'btn btn-info' %>
      <% end %>
      <td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to "新規登録" ,words_new_path,class: 'btn btn-success'%>