 <%= form_with(model: @word,url: words_new_path,html:{class: 'form-group'}) do |f| %>
 <%= f.hidden_field :user_id, value:  @current_user.id %>
 <div class="mb-3">
    <%= f.label :term,'若者表示',class: 'form-label' %>
    <%= f.text_field :term,class: 'form-control' %>
    <% @word.errors.full_messages_for(:term).each do |message| %>
        <span class="alert"><%= message %></span>
    <% end %> 
 </div>
 <div class="mb-3">
    <%= f.label :conversion,'おじ表示',class: 'form-label' %>
    <%= f.text_field :conversion,class: 'form-control' %>
     <% @word.errors.full_messages_for(:conversion).each do |message| %>
        <span class="alert"><%= message %></span>
    <% end %> 
 </div>
    <%= f.submit "Create", class: 'btn btn-primary' %>
<% end %>
<% if @word.errors.any? %>
  <div class="alert alert-warning">
    <ul>
      <% @word.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>


