<h1></h1>

 <%= form_with(model: @word,url: words_new_path,html:{class: 'form-group'}) do |f| %>
 <div class="mb-3">
    <%= f.label :term,class: 'form-label' %>
    <%= f.text_field :term,class: 'form-control' %>
    <% @word.errors.full_messages_for(:term).each do |message| %>
        <span class="alert"><%= message %></span>
    <% end %> 
 </div>
 <div class="mb-3">
    <%= f.label :conversion,class: 'form-label' %>
    <%= f.text_field :conversion,class: 'form-control' %>
     <% @word.errors.full_messages_for(:term).each do |message| %>
        <span class="alert"><%= message %></span>
    <% end %> 
 </div>
    <%= f.submit "SignUp", class: 'btn btn-primary' %>
<% end %>

