<h1>Chat Rooms</h1>
<%=link_to "チャットルーム登録",new_user_room_path(@current_user),class: 'btn btn-danger mb-5' %>
<table class="table table-sm">
 <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">部屋名</th>
      <th scope="col">参加状況</th>
    </tr>
  </thead>
  <tbody>
<% @rooms.map.with_index do |room,index| %>
    <% if room.user_ids.include?(@current_user.id) %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td scope="row"><%= link_to room.name, user_room_path(@current_user,room) %>  <% if room.request_flg == true %><i class="fa-solid fa-circle-check request-check"></i><% end %></td>
      <td>参加中</td>
    </tr>
    <% else %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= room.name %></td>
      <td> <%= form_with(url: '/join_us',local: false, html:{class: 'form-group'})  do |f| %>
                <% if @request_flg == false %>
                <button class="ml-3 btn btn-success js-reload-btn">参加リクエスト</button>
                <%else%>
                <button class="ml-3 btn btn-secondary" disabled >リクエスト中</button>
                <%end%>
                <%# ./request %>
                <%= f.hidden_field :room_id, value: room.id %>
                <%= f.hidden_field :request_flg, value: 1 %>
                <%= f.hidden_field :content, value: 'ココ押して承認よろぴく' %></td>
    </tr>
            <% end %>
        <%# ./form %>
    <%end%>
    <%# ./room %>
<%end%>
<%# ./each %>
  </tbody>
</table>

