<h1>Chat Rooms</h1>
<%=link_to "チャット部屋登録",new_user_room_path(@current_user) %>

<ul>
    <% @rooms.each do |room| %>
        <%# ルームテーブルに自分のidあれば表示 %>
        <% if room.user_ids.include?(@current_user.id) %>
        <li><%= link_to room.name, user_room_path(@current_user,room) %></li>
        <% else %>
        <%# ルームテーブルに自分のidあれば表示なければリンクは表示しない。 %>
            <%= form_with(url: '/join_us',local: false, html:{class: 'form-group'})  do |f| %>
                <% if @request_flg == false %>
                   <%= room.name %>  <button class="ml-3 btn btn-success js-reload-btn">参加リクエスト</button>
                <%else%>
                    <%= room.name %> <button class="ml-3 btn btn-secondary" disabled >リクエスト中</button>
                <%end%>
            <%= f.hidden_field :room_id, value: room.id %>
            <%= f.hidden_field :request_flg, value: 1 %>
            <%= f.hidden_field :content, value: '承認する' %>
        <%end%>
        <% end %>
    <% end %>
</ul>
