 <%= javascript_pack_tag 'chat_window' %> 
<h1><%= @room.name %></h1>
<div id="data" data-id="<%= @room.id %>" data-user-id="<%= @current_user.id %>"></div>
  <%= form_with(model: @message,local: false, html:{class: 'form-group'})  do |f| %>
     <%= f.text_field :content,class: 'form-control message' %>
     <%= f.hidden_field :user_id, value: @current_user.id %>
     <%= f.hidden_field :room_id, value: @room.id %>
     <%= f.submit 'é€ä¿¡' %>
 <% end %>
<%= link_to 'Back', user_rooms_path(@current_user.id) %>
<div id="container">
<%= render @messages %>
</div>

