
<h2 class="text-center"><%= @room.name %></h2>


<div id="container" class="chat-window">
<% @messages.map do |message| %>
  <div class="chat-line <% if message.user_id == @current_user.id %> my <%  else %> you <% end %>" >
      <%if message.user.avatar.blank? %>
        <img src="/assets/default_icon.png" alt="" class="chat_icon">
     <%else%>
        <%= image_tag message.user.avatar.url,class: 'chat_icon'%>
    <%end%>
  <%# ルームの作成者であればメッセージ表示 %>
    <% if message.request_flg.nil? %>
     <p class="message-content">
     <% if @current_user_adult  == true %>
      <%= message.convert_young_message %>
     <% else %>
      <%= message.convert_old_message %>
     <% end %>
     <span class="date"><%= message.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></span>
     </p>
     
    <%else%>
     <%= form_with(url: permission_path(message.user.id), html:{class: 'form-group message-content'}) do |f| %>
        <%= f.hidden_field :user_id, value: message.user.id %>
        <%= f.hidden_field :room_id, value: message.room.id %>
         <%= f.hidden_field :push_user, value: params[:user_id] %>
        <%= message.user.name %>です。<button class="btn btn-info js-reload-btn"><%= message.content %></button>
      <span class="date"><%= message.created_at.strftime("%Y年%m月%d日 %H:%M:%S") %></span>
      <% end %>
    <%end%>
  </div>

<% end %>
</div>
<div id="data" data-id="<%= @room.id %>" data-user-id="<%= @current_user.id %>" data-adult-flg="<%= @current_user.adult_flg %>"></div>

<div class="message-form">
  <%= form_with(model: @message,local: false, html:{class: 'form-group'})  do |f| %>
     <%= f.text_field :content,class: 'form-control message js-textarea' %>
     <%= f.hidden_field :user_id, value: @current_user.id %>
     <%= f.hidden_field :room_id, value: @room.id %>
     <button class="js-form-submit"></button>
 <% end %>
     <i class="fa-solid fa-paper-plane fa-2x js-message-submit paper-pranet"></i>
</div>

