<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :js %>
    <%# これでテンプレートごとに読み込みスクリプト分ける %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/assets/logo.png" alt="" class="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="/home">Home</a>
          </li>
          <%if(@current_user.present?)%>
          <li class="nav-item">
            <a class="nav-link"  href="/words/new">Word Create</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/words/index">Words</a>
          </li>
          <%end%>
          <% if(@current_user.blank?) %>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% end %>
              <%if(@current_user.present?)%>
          <li class="nav-item dropdown">
            <span class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown link
            </span>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><%= link_to "ProfEdit", edit_auth_path(@current_user.id),class: 'dropdown-item' %></li>
                <li><%= link_to "Log out", logout_path, method: :delete,class: 'dropdown-item' %></li>
                <li><%= link_to "Myroom" , user_rooms_path(@current_user.id),class: 'dropdown-item'%></li>
              <%if(@current_user.present? && @current_user.avatar.present?)%>
                <a class="dropdown-item nav-icon" href="/auth/<%=@current_user.id%>/avatar">
                  <%= image_tag @current_user.avatar.url,class: 'nav-icon__sp'%>
                </a>
              <%end%>
            </ul>
          </li>
              <%end%>
        </ul>
      </div>
    </div>
    <%if(@current_user.present?)%>
      <a class="nav-item icon-wrapper" href="/auth/<%=@current_user.id%>/avatar">
        <%if(@current_user.avatar.blank?)%>
          <img src="/assets/default_icon.png" alt="" class="default-icon">
        <%else%>
          <%= image_tag @current_user.avatar.url,class: 'nav-icon__pc' %>
        <%end%>
      </a>
    <%end%>
  </nav>
  <body class="container">
    <div class="js-delete-message c-flash">
      <span class="js-delete-text c-flash_text"></span>
    </div>
    <%= yield %>
  </body>
</html>
