<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="current_user_id" content="<%= @current_user.id if @current_user %>">
    <link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <%= yield :js %>
    <%# これでテンプレートごとに読み込みスクリプト分ける %>
  </head>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home"><%= image_tag asset_path('logo.png'), class: 'logo' %></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <% if(@current_user.blank?) %>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Signup</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
          <% end %>
  <% if @current_user.present? && @current_user.adult_flg != nil%>
          <li class="nav-item"><%= link_to "プロフィール", edit_auth_path(@current_user.id),class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to "トークルーム" , user_rooms_path(@current_user.id),class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to "登録単語" , words_index_path,class: 'nav-link'%></li>
          <li class="nav-item"><%= link_to "ログアウト", logout_path, method: :delete,class: 'nav-link' %></li>
        <a class="nav-item icon-wrapper" href="/auth/<%=@current_user.id%>/avatar">
          <%if(@current_user.avatar.blank?)%>
            <%= image_tag asset_path('default_icon.png'), class: 'default-icon nav-icon__sp' %>
          <%else%>
            <%= image_tag @current_user.avatar.url,class: 'nav-icon__sp' %>
          <%end%>
        </a>
         
  <%end%>
        </ul>
      </div>
    </div>
    <%if(@current_user.present?)%>
      <a class="nav-item icon-wrapper" href="/auth/<%=@current_user.id%>/avatar">
        <%if(@current_user.avatar.blank?)%>
          <%= image_tag asset_path('default_icon.png'), class: 'default-icon nav-icon__pc' %>
        <%else%>
          <%= image_tag @current_user.avatar.url,class: 'nav-icon__pc' %>
        <%end%>
      </a>
    <%end%>
  </nav>
  <body class="container">
    <div class="js-delete-message c-flash">
      <span class="js-delete-text c-flash_text"></span>
    </div>
    <%= yield %>
  </body>
</html>
